// Подключение шрифта по умолчанию ===============================
@import url("https://fonts.googleapis.com/css?family=Roboto:300italic,regular&display=swap");

// Обнуление стилей ==============================================
@import "components/null";

$maxWidth: 1180;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

// Иконочный шрифт ===============================================
@font-face {
  font-family: 'icons';
  src:
    url('../fonts/icons.ttf?u7oaxb') format('truetype'),
    url('../fonts/icons.woff?u7oaxb') format('woff'),
    url('../fonts/icons.svg?u7oaxb#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before, [class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-phone:before {
  content: "\e942";
}
._icon-wa:before {
  content: "\ea93";
}
._icon-vk:before {
  content: "\ea98";
}

// Переменные ====================================================
$dark-color: #3d405b;
$light-color: #f5f2de;
$accent-color: #e07a5f;
$green-color: #81b29a;
$yellow-color: #f2cc8f;
// $text-color: ;
// $bg-dark-color: ;
// $bg-light-color: ;

// Основные стили проекта ========================================
// Контейнер, отступы, размеры и цвет шрифта, кнопки, бургер и т.п.
body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
	color: $dark-color;
	background-color: $light-color;
}

.wrapper {
	overflow-x: hidden;
}

.section {
	padding: 5% 0;
}

.container {
	max-width: 1180px;
	height: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.btn {
	width: 250px;
	height: 30px;
	padding: 5px;
	background-color: $accent-color;
	border-radius: 5px;
	text-align: center;
	text-transform: uppercase;
	color: $dark-color;
	letter-spacing: 2px;
	transition: all 0.3s ease;
	&:hover {
		color: $light-color;
		box-shadow: 0px 0px 5px #e07a5f;
		transform: scale(1.01);
	}
}

// Подключение файлов стилей =====================================
@import "components/header";
@import "components/main";
@import "components/footer";
