.intro {
  // height: 75vh;
  padding-top: 120px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    &_left {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
    &_right {
      width: 40%;
    }
  }
  &__title {
    margin-bottom: 30px;
    @include adaptiv-font(45, 33);
    line-height: 1.2;
  }
  &__descr {
    margin-bottom: 35px;
    font-size: 16px;
  }
  &__photo {
    overflow: hidden;
    box-shadow: 0px 0px 20px 3px $dark-color;
    margin-bottom: 10px;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    font-size: 12px;
  }
}
.btn {
  &__mobile {
    display: none;
  }
}

.brends {
  // width: 100%;
  // height: 100px;
  background-color: #fff;
  &__inner {
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: space-between;
    // width: 100%;
    // height: 100%;
  }
  &__img {
    // width: 65px;
    // height: 30px;
    // overflow: hidden;
    img {
      // width: 100%;
      // height: 100%;
    }
  }
}
.swiper {
  width: 100%;
  height: 100%;
  padding: 15px 0;
}
.swiper-slide {
  width: 150px;
}


.services {
  padding: 5% 0;
  &__title {
    @include adaptiv-font(35, 25);
    // font-size: 35px;
    margin-bottom: 5%;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: start;
    grid-gap: 45px 25px;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 25px 10px;
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.1s linear;
    // cursor: pointer;
    &:hover {
      transform: scale(1.01);
      box-shadow: 0px 0px 50px -5px $yellow-color;
    }
    &:hover .services__img {
      img {
        transform: scale(1.1);
      }
    }
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  &__img {
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 15px;
    img {
      width: 100%;
      height: 100%;
      transition: all 0.4s ease-in-out;
    }
  }
  &__name {
    @include adaptiv-font(24, 18);
    text-align: center;
    line-height: 1.3;
    margin-bottom: 20px;
  }
  &__descr {
    @include adaptiv-font(16, 14);
    opacity: 0.75;
    max-width: 300px;
  }
}

@media (max-width: 1099.99px) {
  // .container {max-width:  970px}
  .services {
    &__img {
      width: 200px;
      height: 150px;
    }
  }
}

@media (max-width: 991.99px) {
  // .container {max-width:  750px}
  .intro {
    height: auto;
  }
}

@media (max-width: 766.99px) {
  .container {
    max-width: none;
  }
  .intro {
    background-image: url("../img/coolerInner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.6);
    }
    &__inner {
      position: relative;
      z-index: 3;
    }
    &__item {
      &_left {
        width: 80%;
      }
      &_right {
        display: none;
      }
    }
    &__title {
      margin-bottom: 25px;
      color: $light-color;
    }
    &__descr {
      font-size: 14px;
      margin-bottom: 45px;
      color: $light-color;
    }
    &__btn {
      color: $light-color;
    }
  }
  .services {
      &__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }
  }
  .btn {
    &__pc {
      display: none;
    }
    &__mobile {
      display: block;
    }
  }
}

@media (max-width: 499.99px) {
  .services {
    padding-bottom: 15%;
    &__inner {
      grid-template-columns: repeat(1, 1fr);
    }
    &__img {
      width: 250px;
      height: 150px;
    }
  }
}